body{

  text-align:center;
font-family: monospace;
color: White;
}
nav {
  color:white;

  font-family:monospace;
}
table {
border:solid White;

}
a{
  color:white;
}
footer{
  color: purple;
  font-size: 15px
}
