p{
  color: White;
  font-family:sans-serif;

}
h1{
  color: White
}


dl{
  color: White;
  font-family: sans-serif;

}
nav{

  text-align: center;

}
a{
  color: White;
  font-family: sans-serif;
}
