body{

  text-align:center;
font-family: monospace;
color: White;
font-size: 18px
}
nav {
  color:white;
background-color: #D247EE;
  font-family:monospace;
}
table {

border: inset #9999ff;
outline-color: #9999ff;
outline-offset: 15px;

}
a{
  color:white;
}
footer{
  color: navy;
  font-size: 13px
}
p{
  background-color: #D247EE;
}
table{
  background-color: #D247EE;
}
hr{
  outline-style: double;
color: #D247EE
}
