a{
  color: navy;
  font-family: fantasy;
  text-align: center;
}
p{color: navy;
  text-align: center;
  font-family: fantasy;
}
h1{color:navy;
text-align: center;
font-family: fantasy;}
h4{color: navy;
text-align: center;font-family: fantasy;}
h6{color: navy;
text-align: center;font-family: fantasy;}
